<div id="login">
	<div class="logincontainer">
		<form id="login-form">
			<input id="login-username" required type="text" placeholder="username"/>
			<input id="login-password" required type="password" placeholder="password"/>
			<input type="submit" id="login-submit" value="login"/>
		</form>
	</div>
</div>